body{
    background-image: linear-gradient(to right, red , blue);
}
table{
    border : 10px solid green;
}
.black{
    background-color: black;
}
td{
    color:blue;
    font-size: 25px;
    height: 25px;
}
