body{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1012%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M705.67%2c346.754C746.534%2c348.991%2c791.749%2c337.862%2c811.012%2c301.754C829.594%2c266.922%2c807.962%2c227.444%2c787.247%2c193.836C767.926%2c162.491%2c742.465%2c132.248%2c705.67%2c130.852C666.832%2c129.379%2c631.17%2c153.059%2c612.621%2c187.213C594.859%2c219.919%2c599.825%2c259.068%2c618.575%2c291.218C637.167%2c323.096%2c668.822%2c344.737%2c705.67%2c346.754' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M999.208%2c386.647C1042.158%2c383.8%2c1073.884%2c352.53%2c1096.929%2c316.174C1122.348%2c276.073%2c1149.724%2c227.678%2c1126.066%2c186.513C1102.366%2c145.276%2c1046.759%2c145.097%2c999.208%2c146.142C954.153%2c147.132%2c906.645%2c154.384%2c881.653%2c191.885C854.107%2c233.218%2c850.475%2c288.282%2c876.142%2c330.807C901.092%2c372.143%2c951.032%2c389.84%2c999.208%2c386.647' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M291.231%2c339.692C342.487%2c343.087%2c399.319%2c331.116%2c424.819%2c286.524C450.198%2c242.142%2c429.18%2c188.766%2c402.462%2c145.177C377.247%2c104.039%2c339.475%2c67.77%2c291.231%2c68.577C244.04%2c69.366%2c208.2%2c107.004%2c186.261%2c148.793C166.024%2c187.34%2c164.165%2c232.498%2c185.142%2c270.647C206.931%2c310.273%2c246.108%2c336.703%2c291.231%2c339.692' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1333.179%2c134.457C1349.353%2c134.551%2c1364.153%2c124.849%2c1371.578%2c110.48C1378.47%2c97.142%2c1374.975%2c81.51%2c1367.162%2c68.69C1359.713%2c56.469%2c1347.486%2c47.846%2c1333.179%2c47.478C1318.213%2c47.093%2c1303.745%2c54.032%2c1296.028%2c66.861C1288.076%2c80.08%2c1288.114%2c96.519%2c1295.544%2c110.039C1303.264%2c124.085%2c1317.151%2c134.364%2c1333.179%2c134.457' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1239.557%2c162.343C1275.032%2c160.289%2c1296.675%2c127.222%2c1313.676%2c96.019C1329.696%2c66.616%2c1342.42%2c32.495%2c1326.293%2c3.15C1309.711%2c-27.023%2c1273.97%2c-39.889%2c1239.557%2c-38.849C1207.008%2c-37.866%2c1178.761%2c-19.45%2c1161.449%2c8.131C1142.791%2c37.856%2c1133.054%2c74.252%2c1148.912%2c105.561C1166.179%2c139.652%2c1201.407%2c164.552%2c1239.557%2c162.343' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1183.1835160207875 351.0011714172133L1211.447675203674 511.2951835378974 1371.741687324358 483.0310243550109 1343.4775281414716 322.7370122343268z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1141.9032817030732 285.34737086770576L1213.230440305359 227.58777669840674 1155.4708461360601 156.26061809612077 1084.143687533774 214.0202122654198z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M637.37 102.49 a142.93 142.93 0 1 0 285.86 0 a142.93 142.93 0 1 0 -285.86 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1012'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    opacity: 0.9;
}
li a:focus{
    background-color: #04AA6D;
  }
.lms {
    /* border: 2px solid red; */
    width: 100%;
    height: 600px;
    margin-right: 10px;
    margin-top:10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li input{
    display: block;
    color: white;
    margin-top:12px;
    margin-left: 10px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #04AA6D;
}